*{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li > a{
    text-decoration: none;
}
#navbar_menu > ul > li > a{
    text-decoration: none;

}
.container{
    margin-top: 10px;
}
#navbar{
    width: 100%;
}
#navbar_menu{
    width: 100%;
    list-style: none;
    position: fixed;
    top: 0;
}
#navbar_menu::after{
    clear: both;
    content: '';
    display: table;
}
#navbar_menu > li{
    text-align: center;
    font-size: medium;
    margin-left: 2%;
    margin-top: 10px;
    width: 10%px;
    float: left;
}
#navbar_menu > li::after{
    clear: both;
    display: table;
    content: '';
}
#logo_img{
    float: left;
    margin-left: 2%;
}
#logo_img::after{
    clear: both;
    display: table;
    content: '';
}

#navbar_menu > li:nth-child(17){
    margin-left: 1%;
}
#carouselExampleIndicators{
    width: 100%;
}
#contents_1{
    width: 100%;
    float: left;
}
#contnets_1::after{
    clear: both;
    display: table;
    content: '';
}

.carousel-item > img{
    z-index: -1;
    opacity: 70%;
    width: 50%;
}

#contents_2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}
#contents_3{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
#contents_4{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
#contents_5{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
.card:nth-child(2), .card:nth-child(3), .card:nth-child(4){
    margin-left: 45px;
}
#contents_6{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
.re_contents{
    float: left;
    margin-bottom: 20px;
}
.re_contents::after{
    clear: both;
    content: '';
    display: table;
}
.re_img{
    float: left;
    width: 130px;
    margin-right: 20px;
}
.re_img::after{
    clear: both;
    content: '';
    display: table;
}
.re_title{
    float: left;
}
.re_title::after{
    clear: both;
    content: '';
    display: table;
}
.re_text{
    float: left;
}
.re_text::after{
    clear: both;
    content: '';
    display: table;
}
a{
    text-decoration: none;
}


#review_a{
    font-size: xx-large;
}
#review_a > input{
    font-size: smaller;
}
#log_out{
    display: none;
}