*{
    margin: 0 auto;
}
@font-face {
font-family: 'RixInooAriDuriR';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
#container{
    margin-top: 5%;
    /* text-align: center; */
}
#item_img{
    float: left;
    margin-right: 40px;
}
#item_img::after{
    clear: both;
    display: table;
    content: '';
}
#item_img_text{
    font-size: x-large;
    padding-top: 10%;
}
#item_img_text > p{
    padding-top: 30px;
    margin-bottom: 20px;
}
#option{
    float: left;
}
li{
    list-style: none;
}

#category{
    float: left;
    width: 10%;
    background-color: lightgray;
    border-radius: 30px;
    margin-right: 15%;
    margin-left: 5%;
}
#category::after{
    clear: both;
    display: table;
    content: '';

}

#position > ul > li{
    font-family: 'RixInooAriDuriR';
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: xx-large;
}
#buy_btn,#btn_1,#btn_buket{
    margin-top: 40px;
    height: 40px;
    background-color: black;
    color: white;
    margin-left: 10%;
}