*{
    margin: 0 auto;
    text-align: center;
}
.container{
    margin-top: 20%;
}
input{
    margin-top: 15px;
    width: 200px;
    height: 45px;
}
a{
    text-decoration: none;
    color: black;
}
.login{
    width: 100px;
}
.btn{
    margin-top: 20px;
    width: 100px;
    height: 45px;
}
