.container{        
    margin-top: 10px;
    height: 300vh;
}
#navbar{
    height: 50px;
}
#navbar_menu{
    list-style: none;
    display: inline-flex;
    position: fixed;
}
#navbar_menu::after{
    clear: both;
    content: '';
    display: table;
}
#navbar_menu > li{
    text-align: center;
    font-size: medium;
    margin-left: 10px;
    margin-top: 10px;
}
#navbar_menu > li:nth-child(17){
    margin-left: 50px;
}
#contents_1{
    width: 100%;
}
.carousel-item > img{
    z-index: unset;
    opacity: 70%;
}
#contents_2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}
#contents_3{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
#contents_4{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
#contents_5{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
.card:nth-child(2), .card:nth-child(3), .card:nth-child(4){
    margin-left: 45px;
}
#contents_6{
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
}
.re_contents{
    float: left;
    margin-bottom: 20px;
}
.re_contents::after{
    clear: both;
    content: '';
    display: table;
}
#re_img{
    float: left;
    width: 130px;
    margin-right: 20px;
}
#re_img::after{
    clear: both;
    content: '';
    display: table;
}
.re_title{
    float: left;
}
.re_title::after{
    clear: both;
    content: '';
    display: table;
}
.re_text{
    float: left;
}
.re_text::after{
    clear: both;
    content: '';
    display: table;
}
a{
    text-decoration: none;
}
